@namespace cc.isr.Finance.Sep.Ira.Shared
@inherits LayoutComponentBase

<div class="page bg-light">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" style="display: none;">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
